apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "hope-beneficiary-portal.fullname" . }}-model-data
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 2Gi
  storageClassName: azurefile