apiVersion: v2
name: deduplication-engine
description: A Helm chart for Kubernetes
type: application
version: 0.12.0
appVersion: "develop"

dependencies:
  - name: redis
    version: 24.1.8
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: redis.enabled
  - name: keyvault
    version: 0.1.3
    repository: file://../keyvault
    condition: keyvault.enabled
  - name: postgresql
    version: "14.x.x"
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: postgresql.enabled