apiVersion: v2
name: payment-gateway
description: A Helm chart for Kubernetes
type: application
version: 0.8.0
appVersion: "payment-gateway-1.12"

dependencies:
  - name: redis
    version: 18.19.4
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: redis.enabled
  - name: postgresql
    version: 13.1.5
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: keyvault
    version: 0.1.3
    repository: file://../keyvault
    condition: keyvault.enabled