apiVersion: v2
name: payment-gateway
description: A Helm chart for Kubernetes
type: application
version: 0.9.0
appVersion: "payment-gateway-1.12"

dependencies:
  - name: redis
    version: 24.1.8
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: redis.enabled
  - name: postgresql
    version: "13.x.x"
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: postgresql.enabled
  - name: keyvault
    version: 0.1.3
    repository: file://../keyvault
    condition: keyvault.enabled