apiVersion: v2
name: status
description: A Helm chart for Kubernetes
type: application
version: 0.1.0
appVersion: "2.0"

dependencies:
  - name: redis
    version: 22.0.7
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: redis.enabled
  - name: keyvault
    version: 0.1.3
    repository: file://../keyvault
    condition: keyvault.enabled