apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "deduplication-engine.fullname" . }}-celery-beat
  labels:
    {{- include "deduplication-engine.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "deduplication-engine.selectorLabels" . | nindent 6 }}
      service: "celery-beat"
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/backend/configmap.yaml") . | sha256sum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.rollme.enabled }}
        rollme: {{ randAlphaNum 5 | quote }}
      {{- end }}
      labels:
        {{- include "deduplication-engine.selectorLabels" . | nindent 8 }}
        service: "celery-beat"
    spec:
      containers:
        - name: celery
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          args: ["beat"]
          envFrom:
          {{ include "keyvault.secretRef" . | nindent 12 }}
            - configMapRef:
                name: {{ include "deduplication-engine.fullname" . }}-backend
          volumeMounts:
            {{ include "keyvault.volumeMounts" . | nindent 12 }}
            - name: dde-model-data
              mountPath: /dde-model
            {{- if .Values.dataPvc.enabled }}
            - name: dde-data
              mountPath: /var/data
            {{- end }}
      volumes:
        {{ include "keyvault.volumes" . | nindent 8 }}
        - name: dde-model-data
          persistentVolumeClaim:
            claimName: {{ include "deduplication-engine.fullname" . }}-model-data
            readOnly: true
        {{- if .Values.dataPvc.enabled }}
        - name: dde-data
          persistentVolumeClaim:
            claimName: {{ include "deduplication-engine.fullname" . }}-data
        {{- end }}
